@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Langar&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Global Reset for Margins and Padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  font-family: Arial, sans-serif; /* Fallback */
}

body {
  background: radial-gradient(ellipse at top, #e0e664, transparent),
              radial-gradient(ellipse at bottom, #f70de7, transparent);
}

/* Global Styles */

h1 {
  font-family: "Bagel Fat One", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Bagel Fat One", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
}

a {
  font-family: "Langar", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Section Defaults */
.section {
  min-height: 100vh;  /* Allow sections to fit viewport but grow if needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Backgrounds and Titles */
.layout1 {
  background: linear-gradient(to bottom, #bdf2f5 55%, #a5ff13);
}

.layout2 {
  background: radial-gradient(circle, #f8f0be, #f4b7b1);
}

.layout3 {
  background: linear-gradient(135deg, #A3FFB8, #C0B5F2);
}

.layout4 {
  background: radial-gradient(ellipse at top, #d5f909, transparent),
              radial-gradient(ellipse at bottom, #f70de7, transparent);
}

.layout5 {
  background: linear-gradient(135deg, #ec840d, #6dfdf6);
}

.moving-gif {
  position: absolute;
  width: 230px;
  animation: move 7s infinite alternate;
}

.moving-gif img {
  width: 100px;
  height: auto;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .layout1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content"
      "image";
  }

  h1 {
    font-size: 2.5rem;
  }
}